// $vars

$color-1: #fff;
$color-2: #000;
$color-3: #444;
$color-4: #888;

$font-size: 1em;
$font-fam-1: sans-serif;
$font-fam-2: monospace;

// global styles

html, body {
  width: 90%;
}

body {
  font-size: $font-size;
  font-family: $font-fam-1;
  color: $color-2
}

h1 {
  font-size: $font-size * 1.5;
  font-family: $font-fam-2;
  color: $color-3;
}

h2 {
  font-size: $font-size * 1.3;
  font-family: $font-fam-2;
  color: $color-4;
}
